<h2><%= @guest.name %> profile</h2>

<h4>List of episodes of <%= @guest.name %></h4>
<ul>
  <% @guest.episodes.each do |episode| %>
    <li>Episode date: <%= link_to episode.created_at, episode_path(episode) %></li>
    <li><%= @guest.appearances.map { |app| app.rating } %></li>
  <% end %>
</ul>